@media all and (max-width: 500px) {
  .tudo {
    width: 375px;
  }
  #menu {
    width: 370px;
  }

  .conteiner {
    width: 375px;
  }
  #tabela {
    width: 375px;
  }
}

@media all and (max-width: 400px) {
    .tudo {
      width: 350px;
    }
    #menu {
      width: 350px;
    }
  
    .conteiner {
      width: 350px;
    }
    #tabela {
      width: 350px;
    }
  }
